<div class="container">
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-12">
            <div style="border-bottom: solid 1px rgba(19, 67, 91, 0.40);">
                <h2 style="color:#13435b;">{{title}}</h2>
            </div>
            <div class="container row" style="margin-top:25px;" *ngFor="let link of links;">
                <div class="col-md-12">
                    <a href="{{link.URL}}" target="_blank">{{link.Title}}</a>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-lg-1">
        <button class="btn btn-md" style="background-color: #166EA1; color:white; border-radius: 0;" (click)="ShowModal()">Upload</button>
    </div>
</div>
</div>